.logo {
  height: 70px;
}

.MuiPaper-root.MuiAppBar-root {
  background-color: #004d40;
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 10;
}

.MuiContainer-root.MuiContainer-maxWidthXl {
  padding: 5px 30px;
}

.homeIcon{
  text-decoration: none;
}

.homeIcon h4{
  font-size: 2rem;
  width: max-content;
  color: #ffffff;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-link {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.nav-link:hover {
  color: #cfd8dc;
}

.drawerLinks a {
  margin-top: 30px;
}

.active {
  color: #cfd8dc;
  text-decoration: none;
}

.MuiToolbar-root.MuiToolbar-regular {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 78px;
}

@media screen and (min-width: 600px) and (max-width: 640px) {
  .aboutUs{
    margin-right: 0px !important;
  }
}
